<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <!-- <ul>
                <% products.forEach(p => { %>
                    <li>
                        <p><%= p.productData.title %> <span class="cart-number"><%= p.qty %></span></p>
                        <form action="/cart-delete-item" method="post">
                            <input type="hidden" value="<%= p.productData.id %>" name="productId">
                            <button type="button" class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul> -->
            <ol class="list-group list-group-numbered">
                <% products.forEach(p => { %>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"><%= p.productData.title %></div>
                            <form action="/cart-delete-item" method="post">
                                <input type="hidden" value="<%= p.productData.id %>" name="productId">
                                <button type="button" class="btn btn-danger  btn-sm" type="submit">Delete</button>
                            </form>
                        </div>
                        <span class="badge bg-primary rounded-pill"><%= p.qty %></span>
                    </li>
                <% }) %>
            </ol>
        <% } else { %>
            <%- include('../includes/else.ejs') %>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>